<template>
	<section>
		<nav>
			<div>
				<SubmitALink />
				<Filters />
			</div>

			<Pagination />
		</nav>

		<LinkList />
	</section>
</template>

<script setup>
import Filters from '../components/Filters.vue'
import SubmitALink from '@/components/SubmitALink.vue'
import LinkList from '@/components/LinkList.vue'
import Pagination from '@/components/Pagination.vue'
</script>

<style scoped>
section {
	display: grid;
	margin-top: 2.5rem;
	grid-column-gap: 2.5rem;
	grid-template-columns: 350px 1fr;
}
</style>
