<template>
	<nav v-if="pagination.totalPages > 1">
		<ul>
			<li
				v-for="page in pagination.totalPages"
				:key="page"
				class="cursor-pointer"
				:class="{ active: page === pagination.page }"
				@click="setPage(page)"
			>
				{{ page }}
			</li>
		</ul>
	</nav>
</template>

<script>
import { useStore } from 'vuex'
import { useGetters } from '../helpers'

export default {
	setup() {
		const store = useStore()
		const { pagination } = useGetters('pagination')

		function setPage(page) {
			if (pagination.page === page) {
				return
			}

			store.commit('setPage', page)
		}

		return { setPage, pagination }
	},
}
</script>

<style scoped>
ul {
	gap: 16px;
	display: flex;
	justify-content: center;
}

li {
	padding: 8px 16px;
	border-radius: 50%;
	background-color: #e3dcdc;
}

li.active {
	background-color: hsl(0 0% 20%);
	color: hsl(0 0% 100%);
}
</style>
