<template>
	<router-link to="/add-new-link">
		<fa-icon icon="lightbulb" />
		SUBMIT A LINK
	</router-link>
</template>

<style scoped>
a {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-block: 2rem;
	font-size: 2rem;
	text-decoration: none;
	transition: background-color 200ms;
	color: hsl(0 0% 0%);
	background-color: hsl(0, 0%, 90%);
}

a:hover,
a:focus {
	background-color: hsl(0, 0%, 85%);
}
.fa-lightbulb {
	margin-right: 0.875rem;
}
</style>
