<template>
	<div class="card">
		<div @click="remove" class="card-remove" data-testid="card-remove">
			<fa-icon icon="trash" />
		</div>
		<div class="card-points">
			<span>{{ linkData.votes }}</span>
			<br />
			<small>POINTS</small>
		</div>

		<div class="card-info">
			<header class="card-header">
				<h3>{{ linkData.title }}</h3>
				<aside>
					(
					<a target="_blank" :href="linkData.url">
						{{ linkData.url }}
					</a>
					)
				</aside>
			</header>

			<div class="button-group">
				<button id="up-vote" @click="upVote">
					<fa-icon icon="arrow-up" />Up Vote
				</button>
				<button id="down-vote" @click="downVote">
					<fa-icon icon="arrow-down" />Down Vote
				</button>
			</div>
		</div>
	</div>
</template>

<script>
import { useStore } from 'vuex'
import { useSwal, useToast } from '../hooks/useSwal'

export default {
	props: {
		data: Object,
	},
	setup(props) {
		const Swal = useSwal()
		const Toast = useToast()
		const store = useStore()

		function upVote() {
			store.dispatch('upVote', props.data.id)
		}

		function downVote() {
			store.dispatch('downVote', props.data.id)
		}

		async function remove() {
			const { isConfirmed } = await Swal.fire({
				icon: 'info',
				title: 'Do you want to remove:',
				html: `<b>${props.data.title}</b>`,
				showCancelButton: true,
				confirmButtonText: 'Remove',
				confirmButtonColor: '#d33',
				showCloseButton: true,
			})

			if (isConfirmed) {
				store.dispatch('remove', props.data.id)
				Toast.fire({
					title: `${props.data.title} removed.`,
				})
			}
		}

		return {
			linkData: props.data,
			upVote,
			downVote,
			remove,
		}
	},
}
</script>

<style>
button {
	color: revert;
	background-color: revert;
	font-size: inherit;
}

.card:first-child {
	margin-top: -8px;
}

.card {
	position: relative;
	display: flex;
	gap: 1.5rem;
	padding: 8px;
}

.card:hover,
.card:focus-within {
	background-color: hsl(0, 0%, 95%);
}

.card-remove {
	position: absolute;
	font-size: 1rem;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: hsl(0 71.4% 53.3%);
	color: hsl(0, 0%, 100%);
	right: 0;
	display: none;
	place-items: center;
	margin-top: -12px;
	margin-right: -12px;
	cursor: pointer;
}
.card:hover .card-remove,
.card:focus-within .card-remove {
	display: grid;
}

.card .card-points {
	font-size: 1.25rem;
	padding: 1.25rem;
	border-radius: 4px;
	text-align: center;
	background-color: hsl(0, 0%, 85%);
	font-weight: bold;
}

.card .card-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
}

.card header > h3 {
	margin-block: 0;
}

.button-group {
	font-size: 0.75rem;
	display: flex;
	justify-content: space-evenly;
	width: 90%;
}

.button-group button {
	border: 0;
	background-color: transparent;
}

.button-group button:hover {
	outline: 2px solid;
	background-color: hsl(0 0% 90%);
}

[class*='fa-arrow-'] {
	margin-right: 0.5rem;
}
</style>
