<template>
	<Header />
	<router-view />
</template>

<script setup>
import Header from '@/components/Header.vue'
import { onMounted } from 'vue'
import { useStore } from 'vuex'
import { LOCAL_STORAGE_KEY } from './store'

const store = useStore()

onMounted(() => {
	let storage = localStorage.getItem(LOCAL_STORAGE_KEY)
	if (storage) {
		store.commit('setList', JSON.parse(storage))
		store.dispatch('put')
	}
})
</script>
