@import url(~sanitize.css);
@import url(~sanitize.css/forms.css);
@import url(~sanitize.css/typography.css);
@import url(~sweetalert2/dist/sweetalert2.min.css);

html,
body {
	height: 100%;
	font-size: 16px;
	background-color: hsl(0deg 0% 98%);
}

#app {
	max-width: 1200px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding-inline: 64px;
}

section {
	max-width: 60rem;
	margin: 0 auto;
}

.cursor-pointer {
	cursor: pointer;
}

:where(button) {
	cursor: pointer;
	padding-inline: 2rem;
	padding-block: 0.5rem;
	color: hsl(0 0% 100%);
	background-color: hsl(0 0% 0%);
}
